:root {
  --blue0: #2a3f5f;
  --blue1: #4B6DCC;
  --blue2: #7195f9;
  --blueZoom: #007bff;
  --violet1: #6e3e9a;
  --gray1: #f8faff;
  --gray2: #676767;
  --gray3: #b5b5b5;
  --green1: #09a709;
  --red1: #ce3434;
  --gray4: #52617a;
}
