.zoom-button {
  background-color: var(--blueZoom);
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  font-size: 0.95rem;
  height: 40px;
}

.zoom-button.connected {
  opacity: 0.7;
}


.zoom-button:hover {
  opacity: 0.9;
}