.admin-panel-main {
    width: 100%;
    height: 100%;
    background-color: var(--sayso-lightblue);
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.admin-panel-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.admin-panel-selector-container {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    padding: 4px;
    border: 1px solid var(--sayso-border);
    background-color: var(--sayso-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}