$primaryColor: #409EFF;

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow {
  overflow: hidden;
}

.right {
  float: right;
}

.logo {
  text-align: center;
  margin-top: 4%;
  .version {
    font-size: 15px;
    color: #606266;
    margin-top: 3px;
  }
}

.el-dialog__header {
  padding-top: 13px !important;
}

.el-dialog__headerbtn {
  top: -5px !important;
}

.el-dialog__body {
  padding-bottom: 16px !important;
}

.sub-router {
  .menu {
    width: 130px;
    display: inline-block;
    vertical-align: top;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }
  .el-menu-item {
    &.is-active {
      background-color: var(--el-menu-hover-bg-color);
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background-color: var(--el-color-primary);
      }
    }
  }
  .content {
    width: calc(100% - 160px);
    margin-left: 130px;
    padding: 15px;
    display: inline-block;
    max-height: 100%;
    overflow-y: auto;
    .router-name {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.result-section {
  overflow-y: scroll;
}
.result {
  height: fit-content;
  line-height: 1.5em;
  padding: 10px 12px;
  background: #fff;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  word-break: break-all;
  .result-item {
    display: flex;
    align-items: center;
    margin: 6px 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .title {
    display: inline-block;
    width: 300px;
    margin-right: 6px;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
  }
  .el-input {
    width: 160px;
    margin-right: 9px;
  }
}

.setting {
  overflow: auto;
  padding-bottom: 10px;
  .el-checkbox {
    display: flex;
    align-items: center;
  }
  .el-button {
    margin: 5px 15px 5px 0;
  }
  .el-button+.el-button {
    margin-left: 0
  }
  .in-line {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    >.el-select,
    >.el-checkbox,
    >.el-input,
    >.el-input-number {
      margin-right: 9px;
    }
    .el-select {
      width: 240px;
    }
    >.el-input {
      width: 190px;
    }
  }
  .selecter {
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    >span {
      display: inline-block;
      font-size: 14px;
      width: 160px;
    }
    .el-slider {
      width: 60%;
    }
  }
}

.meeting {
  overflow: auto;
  padding-bottom: 10px;
  .el-checkbox {
    display: flex;
    align-items: center;
  }
  .el-button {
    margin: 5px 15px 5px 0;
  }
  .el-button+.el-button {
    margin-left: 0
  }
  .in-line {
    display: flex;
    align-items: center;
    margin: 5px 0;
    flex-wrap: wrap;
    >span {
      font-size: 14px;
      margin-right: 10px;
    }
    >.el-select,
    >.el-checkbox,
    >.el-input,
    >.el-input-number {
      margin-right: 9px;
    }
    .el-select {
      width: 240px;
    }
    >.el-input {
      width: 160px;
    }
  }
  .el-divider__text {
    background: #f5f5f5
  }
}

.callback-list {
  display: inline-block;
  span {
    display: block;
    word-break: break-all;
  }
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

.el-dialog__body {
  padding-top: 10px !important;
}

:export {
  primaryColor: $primaryColor;
}
